.MainPage {
    box-sizing: border-box;
    padding-top: 250px;
    overflow: visible;
}

.searchBtn {
    height: 55px;
    width: 55px;
    justify-content: center;
}

.searchLink {
    border-radius: 10px;
}